@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS file */
::-webkit-scrollbar {
    width: 3px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #1c2833;
    border-radius: 2px;
  }